.container
{
    background-image: url(restimage1.png) ;
    height: 700px;
    width: 1500px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 5px;
    background-size: cover;
    border: 3px solid black ;
    margin-left: 10px;
    margin-right: 10px;
    font-family:sans-serif;
}
.tab 
{
    width: 200px;
    height: 7px;
    border: 2px solid rgb(251, 228, 228);
    padding: 50px;
    word-spacing: 70px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    top: 1px;
    left: 1100px;
    position: relative;
   
}
.name
{
    color : lightgray;
    font-family:'Times New Roman';
    position: relative;
    font-size: 300%;
    top: -190px;
}
.quote
{
    color: darkolivegreen;
    font-size: 180%;    
    top: -150px;
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
.quote1
{
  color: darkolivegreen;
    font-size: 250%;
    top: -150px;
    position: relative;
    text-align: center; 
    font-family:'Lucida Sans'; 
}
.img1
{
    position: relative;
    top: -100px;
    left: 550px;
}
.copyrights
{
    width: 1820px;
    height: 17px;
    background-color:lightpink;
    position: relative;
    text-align: center;
    color: antiquewhite;
    top: 50px;
    right: 10px;
}