.container
{
    background-image: url(restimage1.png) ;
    height: 700px;
    width: 1500px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 5px;
    background-size: cover;
    border: 3px solid black ;
    margin-left: 10px;
    margin-right: 10px;
    font-family:arial;
}
.tab 
{
    width: 300px;
    height: 70px;
    border: 2px solid black;
    padding: 10px;
    word-spacing: 70px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    top: 5px;
    left: 1100px;
    position: relative;
   
}
.name
{
    color: lightgray;
    font-family: fantasy;
    text-align: left;
    position: relative;
    font-size: 250%;
    top: -150px;
}

.details 
{
    color: lightgoldenrodyellow;
    position: relative;
    top: -70px;
    left: 50;
    size: 15px;
}
.pic
{ 
    padding-left: 500;
    padding-bottom: 500px;
    margin-top: -400px;
    
}
.copyrights
{
    width: 1990px;
    height: 17px;
    background-color: lightpink;
    position: relative;
    text-align: center;
    color: white;
    top: -460px;
    right:100px; 
}