.container
{
    background-image: url(restimage1.png) ;
    height: 900px;
    width: 1800px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 5px;
    background-size: cover;
    border: 3px solid black ;
    margin-left: 10px;
    margin-right: 10px;
    font-family:monospace;
}

.tab 
{
    width: 550px;
    height: 25px;
    border: 2px solid black;
    padding: 10px;
    word-spacing: 70px;
    background-color: goldenrod;
    text-align: center;
    top: 5px;
    left: 1200px;
    position: relative;
   
}

.name 
{
    color: lightcoral;
    font-family: fantasy;
    text-align: left;
    position: relative;
    font-size: 300%;
    top: -120px;
}

.admin
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));;
    gap: 50px;
    justify-items: center;
    padding: 10px;
    margin-top: -70px;
}
.admin1
{
    background-color: rgb(232, 232, 174);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 250px;
     margin-top: 50px;
    height: 250px;
    margin-right: 10px;
}

.admin1 img 
{
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.admin1 h1 
{
    font-size: 15px;
    color: black;
    margin-top: 15px;
}

.admin1 p
 {
    color: black;
    margin-bottom: 10px;
}

.copyrights
{
    width: 1820px;
    height: 17px;
    background-color: lightpink;
    position: relative;
    text-align: center;
    color: lightgray;
    top: 435px;
    left:-15px; 
}